/* Styles généraux */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Styles pour le logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #00aaff);
}

/* Styles pour le titre */
.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 1em;
  color: #00aaff;
  margin: 0 auto; /* Centrer le titre au milieu */
}

/* Styles pour l'animation du logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styles pour les cartes */
.card {
  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1em auto;
}

/* Styles pour les liens */
a {
  color: #00aaff;
  text-decoration: none;
}

a:hover {
  color: #0088cc;
}

/* Styles pour le texte informatif */
.read-the-docs {
  color: #888888;
}
